# Environment Variables Example

# Postgres Database
DATABASE_URL=postgresql://user:password@localhost:5432/startupdb

# Redis
REDIS_URL=redis://localhost:6379

# Server
PORT=4000

# UI
# e.g., API endpoint (overridden in Docker Compose or during local development)
VITE_API_URL=http://localhost:4000 